.del {
  background: #000000;
  color: #e1a823;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.todo {
  background: #f4f4f4;
  border-bottom: 1px #ccc dotted;
}

.is-complete {
  text-decoration: line-through;
}

.mat-card {
  background-color: #dff3ff;
  padding: 15px;
  margin-bottom: 5px;

}
